/*classic background*/
#anchorOptions{
    -fx-background-image: url("/ApplicationControl/Images/odeon.v2.jpg");
}

#anchorCredits{
    -fx-background-image: url("/ApplicationControl/Images/odeon.v2.jpg");
}

#anchorHowToPlay{
    -fx-background-image: url("/ApplicationControl/Images/odeon.v2.jpg");
}

#anchorPlayerSelection{
    -fx-background-image: url("/ApplicationControl/Images/odeon.v2.jpg");
}

#anchorPreGame{
    -fx-background-image: url("/ApplicationControl/Images/odeon.v2.jpg");
}

#anchorGame{
    -fx-background-image: url("/ApplicationControl/Images/odeon_game_scene.png");
}
#anchorPaneMainMenu{
    -fx-background-image: url("/ApplicationControl/Images/odeon.v2.jpg");
}